<%- include('layout/header')  %> 
<div class="container">
    <div class="row my-4 ">
        <div class="col-lg-14">
            <div class="table-responsive">
                <table class="table table-striped text-center ">
                    <thead>
                        <tr class="bg-primary text-light">
                            <th>ID</th>
                            <th>Photo</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Date de naissance</th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th>Traitement</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="bg-light text-dark">
                            <td>1</td>
                            <td><img src="" alt=""></td>
                            <td>Ravalason</td>
                            <td>Mialy</td>
                            <td>18/12/2002</td>
                            <td>032154378</td>
                            <td>Amboditsiry</td>
                            <td>
                                <a href="" class="text-primary">
                                    <i class="fas fa-edit fa-lg mx-1"></i>
                                </a>
                                <a href="" class="text-danger">
                                    <i class="fas fa-trash fa-lg mx-1"></i>
                                </a>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<%- include('layout/footer')  %> 
