body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.combo{
    width: 100vw;
    height: 90vw;
    margin: 0;
    padding: 0;
    margin-left: 50px;
}
#camera, canvas,#result{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    transform: scaleX(-1);
    
}
button{
    position: absolute;
    bottom: 0;
    bottom: 0;
}
#retake{
    display: none;
}