<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title><%= title %> </title>
</head>

<body class="bg-secondary bg-opacity-25">

    <nav class="p-2 shadow-sm navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a href="/" class="navbar-brand">
            <img src="images/LogoFaciall.png" width="50" height="50" alt="" class="me-2">Faciall
        </a>
        <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse ">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a href="/" class="nav-link"><i class="fas fa-home me-1"></i>Accueil</a>
                </li>
                <li class="nav-item ">
                    <a href="/add" class="nav-link"><i class="fas fa-user-plus me-1"></i>Ajouter</a>
                </li>
                <li class="nav-item ">
                    <a href="/about" class="nav-link"><i class="fas fa-globe me-1"></i>A propos</a>
                </li>
                <li class="nav-item ">
                    <a href="/contacts" class="nav-link"><i class="fas fa-envelope me-1"></i>Contactez-nous</a>
                </li>
            </ul>
        </div>
    </nav>
    <br><br><br>